@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

/* || Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    display: block;
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}